.AlarmSlider {
  position: relative;
  width: 100%;

  #slider {
    position: relative;
    width: 60%;
    height: 56px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20%;
  }

  .handle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: 999;

    .outer-ripple {
      position: absolute;
      width: 280%;
      height: 280%;
      top: -90%;
      left: -90%;
      border-radius: 50%;
      background-color: $hotPink;
    }

    .handle {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      @include buttonGradient;
      box-shadow: 0 8px 10px 1px rgba(127, 21, 49, 0.14),
                  0 3px 14px 2px rgba(127, 21, 49, 0.12),
                  0 5px 5px -3px rgba(127, 21, 49, 0.4);

      .inner-ripple {
        position: absolute;
        top: 8%;
        left: 8%;
        width: 84%;
        height: 84%;
        border-radius: 50%;
        background-color: white;
        opacity: 0.4;
      }

      .clock-icon {
        position: absolute;
        top: 16px;
        left: 16px;
        display: block;
        width: 24px;
        height: 24px;
        background: url("../images/clock2.svg");
        background-size: 24px 24px;
      }

      .ringer-icon {
        position: absolute;
        top: 16px;
        left: 16px;
        display: block;
        width: 24px;
        height: 24px;
        background: url("../images/ringer2.svg");
        background-size: 24px 24px;
      }
    }
  }

  .path-container {
    position: relative;
    height: 100%;
    overflow: hidden;

    .path {
      position: absolute;
      top: 27px;
      left: 0;
      display: block;
      width: 1992px;
      height: 2px;
      background: url("../images/path.svg");
      background-size: contain;
    }
  }

  .end-well {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid #393939;
    background-color: white;

    .x {
      position: absolute;
      top: 20px;
      left: 20px;
      display: block;
      width: 16px;
      height: 16px;
      background: url("../images/x.svg");
      background-size: 16px 16px;
    }
  }

  .press {
    box-shadow: 0 2px 2px 0 rgba(127, 21, 49, 0.14),
                0 1px 5px 0 rgba(127, 21, 49, 0.12),
                0 3px 1px -2px rgba(127, 21, 49, 0.2);
  }

  .shake { animation: shake 2.7s infinite; }

  .scale { animation: scale 2.7s infinite; }

  .raise { animation: raise 2.7s infinite; }

  .ripple-out-in { animation: rippleoi 2.7s infinite; }

  .ripple-out { animation: rippleo 2.7s infinite; }

  @keyframes shake {
    2% { transform: rotate(10deg); }
    4% { transform: rotate(-10deg); }
    6% { transform: rotate(10deg); }
    8% { transform: rotate(-10deg); }
    10% { transform: rotate(10deg); }
    12% { transform: rotate(-10deg); }
    14% { transform: rotate(10deg); }
    16% { transform: rotate(-10deg); }
    18% { transform: rotate(10deg); }
    20% { transform: rotate(-10deg); }
    22% { transform: rotate(10deg); }
    24% { transform: rotate(-10deg); }
    26% { transform: rotate(10deg); }
    28% { transform: rotate(-10deg); }
    30% { transform: rotate(10deg); }
    32% { transform: rotate(-10deg); }
    34% { transform: rotate(10deg); }
    36% { transform: rotate(-10deg); }
    38% { transform: rotate(10deg); }
    40% { transform: rotate(-10deg); }
    42% { transform: rotate(10deg); }
    44% { transform: rotate(-10deg); }
    46% { transform: rotate(10deg); }
    48% { transform: rotate(-10deg); }
    50% { transform: rotate(0deg); }
  }

  @keyframes scale {
    0% { transform: scale(1); }
    25% { transform: scale(1.2); }
    50% { transform: scale(1.2); }
    60% { transform: scale(1); }
  }

  @keyframes raise {
    25% {
      box-shadow: 0 24px 38px 3px rgba(127, 21, 49, 0.14),
                  0 9px 46px 8px rgba(127, 21, 49, 0.12),
                  0 11px 15px -7px rgba(127, 21, 49, 0.4);
    }
    50% {
      box-shadow: 0 24px 38px 3px rgba(127, 21, 49, 0.14),
                  0 9px 46px 8px rgba(127, 21, 49, 0.12),
                  0 11px 15px -7px rgba(127, 21, 49, 0.4);
    }
    60% {
      box-shadow: 0 8px 10px 1px rgba(127, 21, 49, 0.14),
                  0 3px 14px 2px rgba(127, 21, 49, 0.12),
                  0 5px 5px -3px rgba(127, 21, 49, 0.4);
    }
  }

  @keyframes rippleo {
    0% { transform: scale(0); opacity: 0.3; }
    40% { transform: scale(0); opacity: 0.3; }
    90% { transform: scale(1); opacity: 0; }
    100% { transform: scale(1); opacity: 0; }
  }

  @keyframes rippleoi {
    0% { transform: scale(0); opacity: 0; }
    40% { transform: scale(1); }
    50% { transform: scale(1); opacity: 0.3; }
    70% { opacity: 0; }
    80% { transform: scale(0); opacity: 0; }
    100% { transform: scale(0); opacity: 0; }
  }
}
