.AlarmTriggeredPage {
  .topHalf {
    &:before {
      content: " ";
    }

    position: relative;
    height: 50vh;

    .weatherBackground {
      width: 100%;
      height: 100%;
    }

    .temperature {
      position: absolute;
      top: 13%;
      right: 7%;
      font-size: 3.3em;
      font-weight: 500;
      color: white;
    }
  }

  .bottomHalf {
    .currentTime {
      font-size: 3.6em;
      font-weight: 700;
      text-align: center;
      margin-top: 11%;
    }

    .snoozeDescription {
      font-size: 1.3em;
      text-align: center;
      margin-top: 3%;
    }
  }
}
