@keyframes pan {
  0% { transform: translateX(0%); }
  100% {
    transform: translateX(105%) scaleX(1.3);
    opacity: 0.4;
  }
}

@keyframes panNoFade {
  0% { transform: translateX(0); }
  100% {
    transform: translateX(375px) scaleX(1.1);
  }
}

@import '_clear-day';
@import '_partly-cloudy';
@import '_cloudy';
@import '_rain';
@import '_snow';

.AlarmTriggeredPage {

  height: inherit;

  .topHalf {

    position: relative;
    height: 50%;

    .weather-container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &:before {
      content: " ";
    }

    .weatherBackground {
      width: 100%;
      height: 100%;
    }

    .temperature {
      position: absolute;
      top: 13%;
      right: 7%;
      font-size: 3.3em;
      font-weight: 500;
      color: white;
    }
  }

  .bottomHalf {
    .currentTime {
      font-size: 3.6em;
      font-weight: 700;
      text-align: center;
      margin-top: 11%;
    }

    .snoozeDescription {
      font-size: 1.3em;
      text-align: center;
      margin-top: 3%;
    }
  }
}
