.partly-cloudy {
  background-image: linear-gradient(to bottom, #3EE0F7 0%, #5089F4 100%);
  .circle {
    position: absolute;
    background-color: white;
    border-radius: 50%;
  }
  .cloudleft {
    position: relative;
    top: 40px;
    animation: pan 80s linear infinite;
    .c-one {
      top: 0;
      left: -35px;
      width: 71px;
      height: 71px;
    }
    .c-two {
      top: 20px;
      left: 23px;
      width: 33px;
      height: 33px;
    }
  }
  .cloudbottom {
    position: relative;
    top: 250px;
    left: 45px;
    animation: pan 120s linear infinite;
    .c-one {
      left: 40px;
      width: 103px;
      height: 103px;
    }
    .c-two {
      top: 35px;
      width: 65px;
      height: 63px;
    }
    .c-three {
      top: 50px;
      left: 130px;
      width: 38px;
      height: 38px;
    }
    .c-four {
      top: 13px;
      left: 165px;
      width: 24px;
      height: 24px;
    }
  }
  .cloudright {
    position: relative;
    top: 210px;
    left: 350px;
    animation: pan 180s linear infinite;
    .c-one {
      width: 49px;
      height: 49px;
    }
  }
}
